body{
	margin-top: 5px;
     margin-left: 80px;
     margin-right:80px;
     background-color: hotpink;
     
}
.jumbotron{
	height:2118px;
}
h3{
	color: red
}
h4{
	color: black;
}
footer{
	background-color: black;
	height: 40px;
}













